/* Reset some default styles to ensure consistent rendering across browsers */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arapey', sans-serif;
  line-height: 1.6;
  background-color: #ece8f07a;
  color: #333;
}

/* Header and Navigation */
header {
  background-color: #145DA0;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px; /* Add margin between navigation items */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #6c7278ab;
}


/* Main Content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /* Adjust the grid gap for spacing between grid items */
  justify-items: center; /* Center the items horizontally */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  grid-column: span 2; /* Make the heading span across both columns */
}

img {
  display: block;
  max-width: 85%; /* Adjust the width to fit within the container */
  height: auto; /* Remove max-height to maintain image proportions */
  margin: 0 auto;
  /* border-radius: 50%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0; /* Add a background color to the image box */
  padding: 2%; /* Add percentage-based padding for spacing */
  border: 8px solid #145DA0; /* Add a border around the image */
}

blockquote {
  font-style: italic;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 3px solid #007bff;
}

p {
  margin-bottom: 20px;
}

#purpose-statement {
  background-color: #B1D4E0;
  color: #fff;
  padding: 20px;
  border: 8px solid #fff; /* Add a border around the purpose statement */
  margin: 20px 0;
}

#purpose-statement h2 { /* Add a rule for the heading within the purpose statement */
  font-weight: bold;
}

#philosophy-statement {
  background-color: #2E8BC0;
  color: #fff;
  padding: 20px;
  border: 8px solid #fff; /* Add a border around the philosophy statement */
  margin: 20px 0;
}

#philosophy-statement h2 { /* Add a rule for the heading within the philosophy statement */
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #0C2D48;
  color: #fff;
  #validator-logo{
    margin-top: 24px;
  }
}

/* Responsive Design - Adjust as needed */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  nav li {
    margin: 0 10px; /* Adjust the navigation items' margin for smaller screens */
  }
}